/*ICONFONTS*/
@font-face {
    font-family: 'icomoon';
    src:url('icomoon.eot?-1lahri');
    src:url('icomoon.eot?#iefix-1lahri') format('embedded-opentype'),
        url('icomoon.woff?-1lahri') format('woff'),
        url('icomoon.ttf?-1lahri') format('truetype'),
        url('icomoon.svg?-1lahri#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after,
[class^="icon-"]:before, [class*=" icon-"]:before{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:after{
    background: orange;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    content: "\e600";
    font-size: 3.75em;
    font-weight: lighter;
    position: absolute;
    right: 0;
    top: 1.45em;
}
.icon-uniE601:before{

    background: orange;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    content: "\e601";
    font-size: 3.75em;
    font-weight: lighter;
    position: absolute;
    top: 1.45em;
    left: 0;
}
body{
  background: #EAEAEA;
}
/*HEADER*/

.Header{
	background-image: url('portada2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  height: 22em;
	margin-top:3.75em;
	padding: 0.2em 0 0.5em;
	text-align: center;
}

.Header-image{
	border:2px solid #FAFAFA;
	border-radius: 50%;
  -webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-moz-transition: all 1s ease;

}

.Header-image:hover{
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-moz-transition: all 1s ease;
	border-color: #f66509;
}

.Header-imageContainer{
    margin-left:0;
    margin-right: 0;
    display: inline-block;
    position: relative;
    min-width: 320px;
}
.Header-name,
.Header-link{
	color:white;
}

.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-Name{
	font-size: 1.5em;
	font-weight: lighter;
}

/* MAIN MENU*/

.MainMenu{
	background: #1E1E1E;
	height: 3.75em;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top:0;
    z-index: 1;
}

.MainMenu-item{
	display: inline-block;
}

.MainMenu-link{
  border-bottom: 1px solid #1E1E1E;
  color: #FAFAFA;
	line-height: 3.75em;
	margin-right: 1.5em;
	text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease;
}

.MainMenu-link:hover{

  transition: all 1s ease;
  border-bottom: 1px solid #f66509;

}
.MainMenu-list{
	margin:0 4em 0 0;
	padding: 0;
  text-align: right;
}

.MainMenu-scrolled{
	background-color: rgba(30,30,30,0.6);
}

/*UTILITIES */
.U-title{
	color: #2F2F2F;
	display: block;
	font-size: 2.2em;
	font-weight: bold;;
	text-align: center;
  text-transform: uppercase;
	padding-bottom: .5em;
	margin-right: 3em;
	margin-left: 3em;
}

.U-title-perfil{
  color: #FAFAFA;
	display: block;
	font-size: 2.2em;
	font-weight: bold;;
	text-align: center;
  text-transform: uppercase;
	padding: .5em 0 .5em 0;
	margin-right: 3em;
	margin-left: 3em;
}

/*Tech*/
.Tech{
  margin: 0 auto;
  max-width: 55em;
  padding: 1em;
  width: 90%;
}

.Tech-wrapper{
  background: #EAEAEA;
  display: flex;
  orient: vertical;
  direction: normal;
  flex-direction: column;
}
.Tech-item-title {
    letter-spacing: -1px;
    padding: .25em .5em;
    text-transform: uppercase;
}

.Tech-item-title a{
  color: #222;
  text-decoration: none;
}

.Tech-item-title a:hover{
  color: #F66509;
}

.Tech-title{
  font-size: 1.5em;
    margin: 1em auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.Tech-title:after{
  background: #f66509;
    content: '';
    height: 3px;
    left: 50%;
    margin: 0 0 0 -41px;
    position: absolute;
    top: 1.5em;
    width: 92px;
}

.Tech-item-summary {
    color: #7d7d7d;
    padding: .25em 1em 1em;
}

.Tech-item{
  background: #fff;
  border-bottom: 4px solid #f66509;
  margin: .5em;
}

.Tech-item-image {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.Tech-item-image img {
    max-height: 260px;
    min-height: 260px;
    width: 100%;
}
/* Estilos para la sección de perfil*/
.Perfil{
  background-color: #7D7D7D;
  height: auto;
}
.Perfil-container{
  display: flex;
  orient: vertical;
  direction: normal ;
  flex-direction: column;;
  justify-content: space-between;;
  text-align: center;
}
.Perfil-description-subtitulo{
  font-weight: bold;
}
.Perfil-image-container{
  margin-top: 2em;
}
.Perfil-title{
    font-size: 1.5em;
    margin: 1em auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.Perfil-title:after{
  background: #f66509;
    content: '';
    height: 3px;
    left: 50%;
    margin: 0 0 0 -41px;
    position: absolute;
    top: 2.1em;
    width: 92px;
}
.Perfil-image-description{
  border-radius: 50%;
  height: 350px;
  width: 272px;
}

.Perfil-description{
  color: #FAFAFA;
  text-align: left;
  margin-bottom: 1em;
}
/*FOOTER*/
.Footer{
	background-color: #2B2E31;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.Footer-description{
	display: inline-block;
}

.Footer-form{
	text-align:center;
	display: inline-block;
	padding: 2em 0;
}

.Footer-formInput,
.Footer-textArea{
	background: white;
	border:none;
	display: block;
	margin:0 auto 1em;
	border-radius: 2em;
	padding: .5em;
}

.Footer-left{
	display: inline-block;
	max-width: 32em;
	text-align: center;
	vertical-align: top;
}

.Footer-textArea{
	resize:none;
}

.Footer-title{
	color:white;
}

.Footer-button{
	background: orange;
	color:white;
	border-radius: 1em;
	border:none;
	padding: .5em 1em;
}

input:focus,text-area:focus{
	background: #22e3f5;
}


@media screen and (min-width: 650px){
  .Perfil{
    display: flex;
    orient: horizontal;
    direction: normal;
    flex-direction: row;
    flex-flow: row wrap;
    pack: center;
    justify-content: center;
  }
  .Perfil-container{
    display: flex;
    orient: horizontal;
    direction: normal;
    flex-direction: row;
    flex-flow: row wrap;
    pack: center;
    justify-content: center;
  }
  .Perfil-image{
    position: relative;
    bottom: -2.5em;
  }
  .Tech {
    display: flex;
    orient: horizontal;
    direction: normal;
    flex-direction: row;
    flex-flow: row wrap;
    pack: center;
    justify-content: center;
  }
  .Tech-item {
    width: 45%;
  }
  .Tech-wrapper {
    display: flex;
    orient: horizontal;
    direction: normal;
    flex-direction: row;
    flex-flow: row wrap;
    pack: center;
    justify-content: center;
  }
  .Tech-title{
    font-size: 2.2em;
  }
  .Perfil-title{
    margin: 0 auto;
    font-size: 2.2em;
  }
  .Perfil-description{
    width: 45%;
  }
}

@media screen and (max-width: 649px){
  .MainMenu-list{
    margin-right: 0;
  }
  .Perfil-description{
    position: relative;
    bottom: 3em;
    padding-left: 0.5em;
  }
  .Perfil-description-subtitulo{
    text-align: center;
  }

}
@media screen and (max-width: 450px){
  .MainMenu-list{
    margin-right: 0;
  }
  .Perfil-description{
    position: relative;
    bottom: 3em;
    padding-left: 0.5em;
  }
  .Perfil-description-subtitulo{
    text-align: center;
  }
  .Perfil-image{
    position: relative;
    bottom: 2em;
  }
}

@media screen and (max-width: 359px){
  .MainMenu-link{
    margin-right: .5em;
  }
  .Perfil-description{
    position: relative;
    bottom: 3em;
    padding-left: 0.5em;
  }
  .Perfil-description-subtitulo{
    text-align: center;
  }
  .Perfil-image{
    position: relative;
    bottom: 2em;
  }
}

/*Estos media querys son para organizar mejor los iconos*/

@media screen and (max-width: 337px){
    .Header-imageContainer{
        min-width: 280px;
    }
    .icon-uniE600:after{
        font-size: 3em;
        top: 1.6em;
        right: 0.09em;
    }
    .icon-uniE601:before{
        font-size: 3em;
        left: 0.09em;
    }

}
